node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
.deps/

/backend/src/hardhat/**/
/backend/src/build-info/**/
/backend/contracts/artifacts/**/